<tr id="<%= dom_id page %>" <%= 'class=\'deleted\'' if page.status && page.status < 1 %>>
  <td><%= page.permalink %></td>
  <td><%= page.title %></td>
  <td><%= page.updated_at %></td>
  <td class="actions">
		<%= link_to 'Edit', edit_admin_page_path(page), :remote => true %>
    &nbsp;
    <%= link_to_delete page unless page.deleted?  %>
  </td>
</tr>