<tr id="<%= dom_id destination%>" <%= 'class=\'deleted\'' if destination.status && destination.status < 1 %>>
	<td><%= destination.id %></td>
	<td><%= destination.title %></td>
	<td><%= destination.title_cn %></td>
	<td><%= destination.created_at.localtime if destination.created_at %></td>
	<td><%= destination.updated_at.localtime if destination.updated_at %></td>
	<td><%= destination.status_text %></td>
	<td>
		<%= link_to 'Edit', edit_admin_destination_path(destination), :remote => true %> |
		<%= link_to_delete destination %>
	</td>
</tr>