<% 
	@destination.build_description if !@destination.description
%>
<%= form_for([:admin, @destination], :remote => true) do |f| %>

	<%= render :partial => 'admin/shared/title', :locals => {:f => f} %>
	<%= render :partial => 'admin/shared/description', :locals => {:f => f} %>
	<%= render :partial => 'location', :locals => { :f => f } %>
	<%= render :partial => 'admin/shared/status', :locals => {:f => f} %>  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>