<%= render :partial => 'admin/shared/product_sub_menu' %>

<table class="index" id="destinations">
  <tr>
    <th><%= t("id") %></th>
	<th><%= t("title") %></th>
	<th><%= t("city") %></th>
	<th><%= t("state")%></th>
	<th><%= t("country")%></th>
	<th><%= t("status")%></th>
    <th>
      <%= hook :admin_destinations_index_header_actions %>
    </th>
  </tr>
<% @collection.each do |destination| %>
	<%= render destination %>
<% end %>
</table>
<%= will_paginate(:previous_label => "&#171; #{t('previous')}", :next_label => "#{t('next')} &#187;") %>

<h2>Destination form</h2>
<div id="form">
	<%= render :partial => "form"%>
</div>
