<%= content_for :head do %>
<script type="text/javascript">
$(function(){
	$('#photoset_table input[type="checkbox"]').change(function(){
		if (this.checked)
			$(this).siblings().removeAttr('disabled');
		else
			$(this).siblings().attr('disabled', 'disabled');
	});
});
</script>
<% end %>

<%= render :partial => 'admin/shared/product_sub_menu' %>
<h1>Destinations Photos</h1>

<%= form_tag do %>

<table id="photoset_table" style="width:auto;">
	<thead>
		<tr>
			<th></th>
			<th>Photoset</th>
			<th>Photos</th>
			<th>Title</th>
			<th>Dest ID#</th>
		</tr>
	</thead>
	<tbody>
	<% @photo_set.each do |ps| %>
	<% dest = Destination.where(['title like ?', ps.title + '%']).first %>
	<tr>
		<td>
			<% if dest %>
				<% dest.build_photo if !dest.photo %>
				<% if dest.photo.photoset != ps.id %>
					<%= check_box_tag '', true, true %>
					<%= hidden_field_tag "photo[][photo_id]", ps.id %>
					<%= hidden_field_tag "photo[][dest_id]", dest.id %>
				<% end %>
			<% end %>
		</td>
		<td><%= ps.title %></td>
		<td><%= ps.photos %>张</td>
		<td><%= dest.title if dest %></td>
		<td><%= dest.id if dest %></td>
	</tr>
	<% end %>
	</tbody>
</table>
	<%= submit_tag 'Save' %>
	<%= link_to 'Reset all', 'photos_reset' %>
<% end %>
