<% @tour.build_tour_price if !@tour.tour_price %>
<%= f.fields_for :tour_price do |s| %>
  <div class="yui-g">
		<div class="yui-u first">
	  <%= f.field_container :price_adult do %>
	  	<%= s.label :price_adult %><br />
	  	<%= s.text_field :price_adult %>
	  <% end %>
	  
	  <%= f.field_container :price_child do %>
	  	<%= s.label :price_child %><br />
	  	<%= s.text_field :price_child %>
	  <% end %>
		</div>
		<div class='yui-u'>
	  <%= f.field_container :price1 do %>
	  	<%= s.label :price1 %><br />
	  	<%= s.text_field :price1 %>
	  <% end %>
	  
	  <%= f.field_container :price2 do %>
	  	<%= s.label :price2 %><br />
	  	<%= s.text_field :price2 %>
	  <% end %>
	  
	  <%= f.field_container :price3 do %>
	  	<%= s.label :price3 %><br />
	  	<%= s.text_field :price3 %>
	  <% end %>
		</div>
	</div>
<% end %>
