<% content_for :head do %>
<script type="text/javascript">
$(function(){
	$('#edit_div').dialog({ autoOpen: false});
});
</script>
<% end %>
<%= render :partial => 'admin/shared/product_sub_menu' %>

<div class="toolbar">
  <ul class="actions">
  	<li>
  		<%= form_for [:admin, @search] do |f| %>
  		<%= f.label :title_contains, "Title" %> <%= f.text_field :title_contains, :size => 15 %> &nbsp;
  		<%= button t('search') %>
			<% end %>
  	</li>
    <li id="edit_tour_link">
      <a href="tours/new" class="button" data-remote="true" id="admin_edit_tour">
      	<span><img alt="Add" src="/images/admin/icons/add.png?1305355888"> New Tour</span></a>
    </li>
  </ul>
  <br class="clear">
</div>

<div id="edit_div" style="display:none;">
<h2>Tour form</h2>
<div id="form"></div>
</div>

<table class="index" id="tours">
  <tr>
    <th><%= t("id") %></th>
	<th><%= t("title") %></th>
	<th><%= t("created_at")%></th>
	<th><%= t("updated_at")%></th>
	<th><%= t("status")%></th>
  <th>operate</th>
  </tr>
<% @collection.each do |tour| %>
	<%= render tour %>
<% end %>
</table>
<%= will_paginate(@collection, :previous_label => "&#171; #{t('previous')}", :next_label => "#{t('next')} &#187;") %>

