<%= form_for( @shop_order, :url => admin_shop_order_path(@shop_order), :remote => true) do |f| %>
	<% item = @shop_order.items.build %>
	<%= f.fields_for :items do |item| %>
<div>
	Room #: 
	Adult: <%= item.text_field :num_adult, :size => 2 %> 
	Child: <%= item.text_field :num_child, :size => 2 %>
</div>
	<% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>