<div id='order_prices'>
	<p>
		Shop order id:
		<%= f.text_field :shop_order_id %>
	</p>
	<p>
		num rooms:
		<%= f.text_field :num_rooms %>
	</p>
	<p>
		num adult:
		<%= f.text_field :num_adult %>
	</p>
	<p>
		num child:
		<%= f.text_field :num_child %>
	</p>
	<p>
		num total:
		<%= f.text_field :num_total %>
	</p>
	<p>
		total amount:
		<%= f.text_field :total_amount %>
	</p>
	<p>
		adjustment amount:
		<%= f.text_field :adjustment_amount %>
	</p>
	<p>
		credit amount:
		<%= f.text_field :credit_amount %>
	</p>
	<p>
		payment amount:
		<%= f.text_field :payment_amount %>
	</p>
	<p>
		balance amount:
		<%= f.text_field :balance_amount %>
	</p>
	<p>
		created at:
		
	</p>
	<p>
		updated at:
		
	</p>
</div>      