  <tr id="<%= dom_id order %>" class='<%= cycle('row', 'alt-row') %>'>
      <td style="font-weight:bold;text-align:center;text-decoration:underline;">
      	<%= link_to order.id, admin_shop_order_path(order) %>
      </td>
      <td><%= order.order_type %></td>
      <td><%= order.order_related_id %></td>
      <td></td>
      <td></td>
      <td><%= order.customer_name %></td>
      <td>phone</td>
      <td><%= order.state %></td>
  </tr>