<%= render :partial => 'admin/shared/product_sub_menu' %>

<div class='toolbar'>
  <ul class='actions'>
    <li id="new_photo_link">
      <%= button_link_to t("new_photo"), new_admin_destination_photo_path, {:remote => true, :icon => 'add', :id => 'admin_new_photo'} %>
    </li>
  </ul>
  <br class='clear' />
</div>

<h1><%= image_tag( (@destination.photo ? @destination.photo.attachment.url(:mini) : 'coming_soon_100.png'), :style => 'border:solid 1px #aaa;padding:1px;', :id => 'dest_photo') %><%= "#{@destination.title}/#{@destination.title_cn}" %></h1>
<%= link_to 'Back to destinations list', '../photos' %>
<div id="new_photo"></div>

<div>
<% @collection.each do |p| %>
	<div style="width:150px;height:300px;float:left;border:solid 1px #999; padding:4px;margin:4px;">
		<%= image_tag p.attachment.url(:small) %><br />
		<div><%= p.attachment_file_name %></div>
		<div><%= p.alt %></div>
		<div>
        <%= link_to image_tag('/images/admin/icons/edit.png') + 'Edit', edit_admin_destination_photo_path(@destination, p), :class => 'edit'   %>
        &nbsp;|&nbsp;
        <%= link_to_delete p  %><br />
        <%= link_to 'Set as cover', "photos/#{p.id}/cover", {:remote => true, :icon => 'add'} %>
		</div>
	</div>  
<% end %>
	<div class='clear'></div>
</div>
