<table class='select_table'>
	<thead>
		<tr>
			<th>id</th>
			<th>name</th>
			<th>tel</th>
			<th>email</th>
			<th>address</th>
			<th>created_at</th>
			<th>updated at</th>
		</tr>
	</thead>
	<tbody>
		<% @customers.each do |c| %>
		<tr tag='<%= c.id %>'>
			<td><%= c.id %></td>
			<td><%= c.first_name %> <%= c.last_name %></td>
			<td>tel</td>
			<td>email</td>
			<td>address</td>
			<td><%= c.created_at.localtime.strftime('%Y-%m-%d') %></td>
			<td><%= c.updated_at.localtime.strftime('%Y-%m-%d %H:%M:%S') %></td>			
		</tr>
		<% end %>
	</tbody>
</table>