<% 
	@infos_spot.build_description if !@infos_spot.description
	if @infos_spot.id
		pth = "/admin/tours/#{params[:tour_id]}/spots/#{params[:id]}"
	else
		pth = "/admin/tours/#{params[:tour_id]}/spots"
	end
%>

<%= form_for(@infos_spot, :url => pth, :remote => true) do |f| %>
  	<div class="yui-g">
	<%= f.fields_for :destination_id do %>
		<%= f.label :destination_id %><br />
		<%= select(:infos_spot, :destination_id, Infos::Destination.all.collect{|d| [d.title, d.id]}, {:prompt => 'Select Destination'}) %>  	
	<% end %>
	
		</div>

  <div class="yui-g">
	<div class='yui-u first'>
	<%= f.fields_for :visit_day do %>
		<%= f.label :visit_day %><br />
		<%= f.text_field :visit_day %>
	<% end %>
	</div>
	<div class='yui-u'>
	<%= f.fields_for :visit_order do %>
		<%= f.label :visit_order %><br />
		<%= f.text_field :visit_order %>
	<% end %>	
	</div>
	</div>

  <%= f.fields_for :description do |desc| %>
  <div class="yui-g">
  	<div class="yui-u first">
  	<%= f.field_container :en do %>
  		<%= desc.label :en %><br />
  		<%= desc.text_area :en, :cols => '28' %>
  	<% end %>
  	</div>
  	<div class="yui-u">
  	<%= f.field_container :cn do %>
  		<%= desc.label :cn %><br />
  		<%= desc.text_area :cn, :cols => '28' %>
  	<% end %>
  	</div>
  </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
