<% @tour = Tour.find(params[:tour_id]) 
	 @spot.build_description if !@spot.description
%>
<%= form_for([:admin, @tour, @spot]) do |f| %>
  	<div class="yui-g">
	<%= f.fields_for :destination_id do %>
		<%= f.label :destination_id %><br />
		<%= select(:spot, :destination_id, Destination.all.collect{|d| [d.title, d.id]}, {:prompt => 'Select Destination'}) %>  	
	<% end %>
		</div>

  <div class="yui-g">
	<div class='yui-u first'>
	<%= f.fields_for :visit_day do %>
		<%= f.label :visit_day %><br />
		<%= f.text_field :visit_day %>
	<% end %>
	</div>
	<div class='yui-u'>
	<%= f.fields_for :visit_order do %>
		<%= f.label :visit_order %><br />
		<%= f.text_field :visit_order %>
	<% end %>	
	</div>
	</div>

  <%= f.fields_for :description do |desc| %>
  <div class="yui-g">
  	<div class="yui-u first">
  	<%= f.field_container :en do %>
  		<%= desc.label :en %><br />
  		<%= desc.text_area :en, :cols => '28' %>
  	<% end %>
  	</div>
  	<div class="yui-u">
  	<%= f.field_container :cn do %>
  		<%= desc.label :cn %><br />
  		<%= desc.text_area :cn, :cols => '28' %>
  	<% end %>
  	</div>
  </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
