<%= render :partial => 'admin/shared/product_sub_menu' %>

<div class='toolbar'>
  <ul class='actions'>
    <li id="new_spot_link">
      <a href="<%= new_admin_tour_spot_path %>" class="button" data-remote="true" id="admin_new_spot">
      	<span><img alt="Add" src="/images/admin/icons/add.png"> New Spot</span></a>
    </li>
  </ul>
  <br class='clear' />
</div>

<h1><%= "#{@tour.title}/#{@tour.title_cn}" %></h1>
<%= link_to 'Back to tour list', '../tours' %>

<div id='new_spot'></div>
<div id="edit_div"></div>

<div id="spots">
<% @collection.each do |sp| %>
	<%= render :partial => 'spot', :locals => {:sp => sp}%> 
<% end %>
</div>

<% content_for :head do %>
<script type="text/javascript">
$(function(){
	$('#edit_div').dialog({ autoOpen: false, width: 600});
});
</script>
<% end %>
