<div class="schedule-title">
	<div class="s-id">
		Schedule ID: <b><%= s.id %></b><br />
		Status: <b><%= s.status %></b>
	</div>
	<div class="s-title">
		<%= s.tour.title_cn%> <%= s.tour.days %>日游<br />
		<%= s.tour.title %> 
	</div>
	<div class="s-date">
		出發: <b><%= s.departure_date.strftime("%Y-%m-%d") %></b><br />
	  返回: <b><%= s.return_date.strftime("%Y-%m-%d") %></b>
	</div>
	<div class="s-price">
		价格: 
		1人:<b><%= s.price.price1 %></b> / 
		2人:<b><%= s.price.price2 %></b> / 
		3人:<b><%= s.price.price3 %></b> / 
		4人:<b><%= s.price.price4 %></b> 
	</div>
	<div class="s-info">
		预定人数: <b><%= s.book_customers %></b> / 
		已付款人数:<b><%= s.actual_customers %></b> / 
		客房总数:<b><%= s.actual_rooms %></b>
	</div>
</div>

<%= content_for :head do %>
<style type="text/css">
.schedule-title {border:solid 1px green;position:relative;margin-bottom:6px;}
.schedule-title div {border:solid 1px red;}
.schedule-title .s-id {top:0;position:absolute;}
.schedule-title .s-title {font-size:200%;font-weight:bold;width: 600px;margin:0 auto;text-align:center;}
.schedule-title .s-date {position:absolute;top:0;right:0;}
.schedule-title .s-price {position:absolute;bottom:4px;}
.schedule-title .s-info {position:absolute;bottom:4px;right:0;}
</style>
<% end %>
