<%= content_for :head do %>
<%= javascript_include_tag 'jqueryui/jquery-ui-1.8.13.custom.min.js' %>
<%= stylesheet_link_tag '/javascripts/jqueryui/jquery-ui-1.8.13.custom.css' %>
<script type='text/javascript'>
$(function(){
	
	$('#search_departure_date_greater_than_or_equal_to').datepicker({
		showButtonPanel: true,
		dateFormat: 'yy-mm-dd'
	});
	$('#search_departure_date_less_than_or_equal_to').datepicker({
		showButtonPanel: true,
		dateFormat: 'yy-mm-dd'
	});	
});
</script>
<% end %>

<%= render :partial => 'admin/shared/schedule_sub_menu' %>
<%= render :partial => 'admin/shared/quick_toolbar' %>


<%= render :partial => 'schedule_title', :locals => {:s => @operates_schedule} %>


<table width="380" cellspacing="0" cellpadding="4" border="0" style="border: solid 1px darkgreen; width:auto;">
  <tbody><tr class="diagram-exp">
    <td nowrap="nowrap" align="center" class="edit_en">圖示:(<a href="ScheduleOrders.aspx">相关订单</a>)</td>
    <td nowrap="nowrap" align="center" class="edit_en"><div class="block blnk">&nbsp;</div> Avilible</td>
    <td nowrap="nowrap" align="center" class="edit_en"><div class="block hold">&nbsp;</div> Hold</td>
    <td nowrap="nowrap" align="center" class="edit_en"><div class="block sold">&nbsp;</div> Sold balance</td>
    <td nowrap="nowrap" align="center" class="edit_en"><div class="block paid">&nbsp;</div> Full pay</td>
  </tr>
</tbody></table>

<div class='seat-table'>
	<% (1..@total_seats).each do |i| %>
	<% if ((i-1) % 4) == 0 %>
		<div class="clear"></div>
	<% elsif ((i-1) % 2) == 0 %>
		<div class="space">&nbsp;</div>
	<% end %>
		<%= render :partial => 'seat', :locals => {:i => i, :s => @operates_schedule} %>
	<% end %>
	<div class="clear"></div>
</div>



<%= content_for :head do %>
	<style type="text/css">
		.diagram-exp .block {width:16px;height:16px;margin-right:4px;float:left;border:solid 1px grey;}
		.blnk { background-color:#339966; }
		.hold { background-color:#ffff80; }
		.sold { background-color:#ff99cc; }
		.paid { background-color:#ffcc99; }
	
		.seat-table {border:solid 1px green;margin:2px;}
		.seat-table .seat {width:23%;float:left;border:solid 1px blue;padding:4px;margin:1px;position: relative;}
		.seat-table .seat-r{width:23%;float:right;border:solid 1px blue;padding:4px;margin:1px;}
		.seat-table .clear {clear:both;}
		.seat-table .space {width:3%;float:left;}
		.seat-table .seat-check {float: left;position: absolute;bottom:0px;}
		.seat-table .seat-pickup {float:left;}
		.seat-table .seat-info {text-align: right;}
		
		.seat-table .seat:hover {border:solid 1px red;}
	</style>
<% end %>