<% content_for :head do %>
<%= javascript_include_tag 'galleria/galleria.js' %>
<script type="text/javascript">
  $(function(){
    Galleria.loadTheme('/javascripts/galleria/themes/classic/galleria.classic.js');
    $('#galleria').galleria();
  });
</script>
<style type="text/css">
   #galleria{height:500px;}
</style>
<% end %>

 <div id="galleria">
   <% @photos.each do |p| %>
    <a href="<%= IMAGE_ROOT %>images/upload/destinationPics/DestPic_<%= p.id %>.jpg">
        <img title="<%= p.title %>" src="<%= IMAGE_ROOT %>images/upload/destinationPics/DestTn_<%= p.id %>.jpg" />
    </a>
   <% end %>
</div>

