<%= content_for :head do %>
	
	<%= stylesheet_link_tag '/javascripts/flickr/fleeckr.css', '/javascripts/flickr/colorbox.css' %>
	<%= javascript_include_tag 'flickr/jquery.fleeckr.js', 'flickr/jquery.colorbox-min.js' %>

<% if @destination.photoset %>
<script type="text/javascript"> 
$(function(){
	$("#flickr").jfleeckr({
		apikey: '<%= Spree::Config[:flickr_apikey] %>',
		extra: 'photoset_id=<%= @destination.photoset %>',
		method: 'flickr.photosets.getPhotos'
	}, function(data){
		$('#flickr a').colorbox({transition:"fade", width:"75%", height:"80%"});
	});
	
});
</script>
<% end %>
<% end %>

<% content_for :breadcrumbs do %>
    <li><a href="/home/index">Home</a></li>
    <li>&raquo;</li>
    <li><a href="/destinations">Destinations</a></li>
    <li>&raquo;</li>
    <li><%= @destination.title %></li>
<% end %>



<%= render 'related_tours' %>
<h2><%= @destination.title %></h2>
<%#= image_tag @destination.photo.attachment.url(:small) if @destination.photo %>

<div id="photo_primary" style="border:solid 1px #ccc;margin:8px;margin-right:16px;padding:4px;float:left;"></div>
<div style="font-size:1em;line-height: 1.62;margin-bottom:12px;">
	<%=h @destination.description.en %>
</div>


	<div id="flickr"></div> 

